@model List<Product>
@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>UnitPrice</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--Foreach-->
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.ProductName</td>
                <td>@p.UnitPrice</td>
                <td>
                    <a asp-action="delete" asp-controller="Product" asp-route-id="@p.ID" class="btn btn-danger">Sil</a>
                    <a asp-action="update" asp-controller="Product" asp-route-id="@p.ID" class="btn-outline-warning">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

